.input-search-key
  position absolute
  left auto
  right 4rem
  top 0.5rem
  i
    height 0rem
    margin-top -1.1rem
    color #217BD5
  input
    background-color #000 url("/assets/images/navigation-tab.png") repeat-x top